.container-botton-Principal{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
    margin-top: 12%;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}
.h_principal{
    color: azure;
}